
      h1{

        font-size: 65px;
        color: orange;
      }

      body{

        background-color: rgb(161, 199, 152);

      }

      .arcoiris{

        background-color: dimgray ;
      }
